
CLIENT_ORIGIN="http://localhost:3000"
API_URL="http://localhost:8000"
PORT=8000
ZOMINK_EMAIL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:8000/oauth/google"
MONGO_URI=""
CRYPTO_SECRET_KEY=""
ACCESS_SECRET_KEY=""
REFRESH_SECRET_KEY=""
CLIENT_DOMAIN=""
SMTP_USER=""
SMTP_PASS=""